/*This stylesheet is in "src" as well as "dist" to test the index.html file output*/

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

header {
  font-size: 30px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: rgb(20, 134, 241);
  color: rgb(240, 236, 236);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.card-header {
  font-weight: bold;
  /*text-align: center;*/
}

.employee-name {
  font-size: 20px;
}

.employee-role {
  font-size: 18px;
}

.card-body {
  font-size: 16px;
  /*
  border-radius: 1;
  border: 1px solid rgb(68, 64, 64);
*/
}

/*
li {
  border-radius: 1;
  border: 1px solid rgb(68, 64, 64);
}
*/
